name: Deploy JigsawStack Package to NPM and JSR when a Release is Created
on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  npm-publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
      - name: Build package
        run: |
          yarn
          yarn build
      - name: Publish to NPM
        run: npm publish

  jsr-publish:
    name: Publish to JSR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Build package
        run: |
          yarn
          yarn build
      - name: Publish to JSR
        run: npx jsr publish --allow-slow-types
